<?xml version="1.0" encoding="utf-8"?>
<appSettings>
  <add key="fb_appid" value="000000" />
  <add key="fb_secretkey" value="000000" />
  <add key="androidApplicationId" value="000000" />
  <add key="maxLocationNameLength" value="30" />
  <add key="maxLocationDescriptionLength" value="100" />
  <add key="maxOfferNameLength" value="30" />
  <add key="maxOfferDescriptionLength" value="120" />
  <add key="maxLocationsSearchR" value="15" />
  <add key="minLocationsSearchR" value="0.5" />
</appSettings>