<?xml version="1.0" encoding="utf-8" ?>
<connectionStrings>
  
	<add name="DefaultConnection" connectionString="Server=localhost;Port=5012;UserId=postgres;Password=admin;Database=GeoAdDb" />
  
	<add name="PostgresqlCS" connectionString="Server=81.4.120.128;Port=5432;UserId=postgres;Password=postgres;Database=GeoAdDb" />

</connectionStrings>
