<h2>Cambio password</h2>

<br />

<div>
    <form id="changeform">
        Vecchia Password: <input type="password" class="input-lg form-control" id="OldPassword" />
        <br />
        Nuova Password: <input type="password" class="input-lg form-control" id="NewPassword" />
        <br />
        Conferma Password: <input type="password" class="input-lg form-control" id="ConfirmPassword" />
        <br /><br />
        <input type="submit" class="btn-primary btn-lg" value="Cambia Password"/>
    </form>
</div>

<br />
<hr />
@Html.ActionLink("Home", "Home", "Dashboard")

@section scripts {
    <script type="text/javascript" src="~/Scripts/loginScript.js"></script>
    <script type="text/javascript">

        $('#changeform').on('submit', function (e)
        {
            e.preventDefault();

            var data = {
                "OldPassword": $("#OldPassword").val(),
                "NewPassword": $("#NewPassword").val(),
                "ConfirmPassword": $("#ConfirmPassword").val()
            };

            $.ajax({
                type: "POST",
                beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
                url: "../api/Account/ChangePassword",
                data: data,
                success: function (data) {
                    $("#OldPassword").val("");
                    $("#NewPassword").val("");
                    $("#ConfirmPassword").val("");
                    alert("Password Cambiata");
                },
                error: function (error) {
                    alert(error.responseText);
                }
            });
        });
    </script>
}