<h2>Cambio password</h2>
<br />
<div class="row">
    <div class="col-md-4">
        <form id="changeform">
            <span class="form-group">
                <input type="password" id="OldPassword" class="form-control" placeholder="Vecchia Password" pattern=".{6,}" required title="Inserisci almeno sei caratteri" />
            </span>
            <br />
            <span class="form-group">
                <input type="password" id="NewPassword" class="form-control" placeholder="Nuova Password" pattern=".{6,}" required title="Inserisci almeno sei caratteri" />
            </span>
            <br />
            <span class="form-group">
                <input type="password" id="ConfirmPassword" class="form-control" placeholder="Conferma Password" pattern=".{6,}" required title="Inserisci almeno sei caratteri" />
            </span>
            <br />
            <input type="submit" id="btnChange" class="btn btn-primary" value="Cambia Password" />
            @Html.ActionLink("Annulla", "Home", "Dashboard", null,
            new
            {
                @class = "btn btn-default",
                @style = "margin-left: 20px",
                @id = "btnAnnulla"
            })
        </form>

    </div>
    <div class="col-md-8">
        <span class="alert alert-success" role="alert" id="successAlert" style="display: none">Password cambiata!</span>
        <span class="alert alert-danger" role="alert" id="errorAlert" style="display: none">Errore:</span>
        <div class="center-block">
            <img src="@Url.Content("~/Content/images/loading.gif")" class="img-responsive" id="loading" style="display: none" alt="Edit" />
        </div>
    </div>
</div>

@section scripts {
    <script type="text/javascript" src="~/Scripts/loginScript.js"></script>
    <script type="text/javascript">

        $(function () {

            var btnChange = $("#btnChange");

            var oldPsw = $("#OldPassword");
            var newPsw = $("#NewPassword");
            var confPsw = $("#ConfirmPassword");

            var successAlert = $("#successAlert");
            var errorAlert = $("#errorAlert");

            var loading = $("#loading");

            $("#changeform").on("submit", function (e) {
                e.preventDefault();

                errorAlert.hide();
                btnChange.prop("disabled", true);
                $(".has-error").removeClass("has-error");

                var oldPswValue = oldPsw.val();
                var newPswValue = newPsw.val();
                var confPswValue = confPsw.val();

                if (oldPswValue.length < 6) {
                    oldPsw.parent().addClass("has-error");
                    btnChange.prop("disabled", false);
                }

                if (newPswValue.length < 6) {
                    newPsw.parent().addClass("has-error");
                    btnChange.prop("disabled", false);
                }

                if (confPswValue.length < 6) {
                    confPsw.parent().addClass("has-error");
                    btnChange.prop("disabled", false);
                }

                if (confPswValue !== newPswValue) {
                    newPsw.parent().addClass("has-error");
                    confPsw.parent().addClass("has-error");
                    btnChange.prop("disabled", false);
                    return;
                }

                loading.show();

                var data = {
                    "OldPassword": oldPswValue,
                    "NewPassword": newPswValue,
                    "ConfirmPassword": confPswValue
                };

                $.ajax({
                    type: "POST",
                    beforeSend: function (xhr, settings) { xhr.setRequestHeader('Authorization', 'Bearer ' + getToken()); },
                    url: "@Href("~/api/Account/ChangePassword")",
                    data: data,
                    success: function (data) {
                        loading.hide();
                        successAlert.fadeIn();
                        setTimeout(function () {
                            $("#btnAnnulla")[0].click();
                        }, 1000);
                    },
                    error: function (error) {
                        loading.hide();
                        btnChange.prop("disabled", false);
                        errorAlert.text("Errore:\n" + error.responseText).fadeIn();
                    }
                });
            });
        });
    </script>
}